# haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

#intellij
.idea/
*.iml
*.iws

# mac
.DS_Store
data/backtesting/*

# cabal local and new-build artifacts
cabal.project.local
cabal.project.freeze

# adapter caches
**/.cache/

# transient output files
log/
